#scene
  height: 400px
  width: 600px
  margin: 30px
  position: relative
  height: 100%
  width: 100%
  margin: 0

  #info
    display: none
    border: 1px solid red
    position: absolute
    width: 100px
    height: 100px
    left: 10px
    top: 10px
    background: rgba(0.7, 0.7, 0.7, 0.5)
    color: white
    font-size: 8px

    th
      text-align: left

    .close
      top: -4px
      right: 3px
      position: absolute
      font-size: 20px
      color: red
      cursor: pointer
