---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
<div id='scene'>
  <div class="header" style="margin-left: auto; margin-right: auto !important">
    <img class="logo" src="img/exocat-logo_360.png">
    <a href="#content">
      <img class="down" src="img/down_button_360.png">
    </a>

  </div>

  <div id="info">
    <div class="header"> <span class="close">x</span> </div>
    <h2>FACTS</h2>
    <table>
      <tr>
        <th>Name:</th>
        <td class="name"></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td class="description"></td>
      </tr>
      <tr>
        <th>Distance:</th>
        <td><span class="distance"></span> fl (from Sun)</td>
      </tr>
    </table>
  </div>
</div>
